Repository mushroomlabs/django-activitypub-toolkit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_site, pages, run_tests

.gitlab-ci.yml:

variables:
  PYTEST_ADDOPTS: "--disable-socket"
  UV_VERSION: "0.9.11"
  PYTHON_VERSION: "3.13"
  BASE_LAYER: bookworm-slim
  # GitLab CI creates a separate mountpoint for the build directory,
  # so we need to copy instead of using hard links.
  UV_LINK_MODE: copy

stages:
  - test
  - docs
  - publish

build_site:
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  stage: docs

  script:
    - uv sync --extra docs
    - uv run mkdocs build

  artifacts:
    paths:
      - site

  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - docs/**/*
        - mkdocs.yml

    - when: manual
      allow_failure: false


pages:
  stage: docs
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  needs:
    - build_site
  script:
    - mv site public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - docs/**/*
        - mkdocs.yml
      when: on_success

    - when: manual
      allow_failure: false

  allow_failure: true

run_tests:
  stage: test
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER

  script:
    - uv sync --extra dev
    - uv run pytest

  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
        - activitypub/*
        - pyproject.toml
        - uv.lock
    - when: never

publish_python_package:
  stage: publish
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER

  script:
    - apt-get update && apt-get install -y jq
    - pip install id
    - oidc_token=$(python -m id PYPI)
    - uv build
    - resp=$(curl -X POST https://pypi.org/_/oidc/mint-token -d "{\"token\":\"${oidc_token}\"}")
    - api_token=$(jq --raw-output '.token' <<< "${resp}")
    - uv publish --token ${api_token}

  id_tokens:
    PYPI_ID_TOKEN:
      aud: pypi

  rules:
    - if: $CI_COMMIT_TAG
      when: on_success
    - when: manual

Make Domain.port more explicit.
  activitypub/admin/actions.py
  activitypub/admin/admins.py
  activitypub/admin/filters.py
  activitypub/contexts.py
  activitypub/factories.py
  activitypub/handlers.py
  activitypub/migrations/0001_initial.py
  activitypub/models/ap.py
  activitypub/models/as2.py
  activitypub/models/collections.py
  activitypub/models/linked_data.py
  activitypub/projections/base.py
  activitypub/tasks.py
  activitypub/tests/base.py
  activitypub/tests/models/test_as2.py
  activitypub/tests/models/test_linked_data.py
  activitypub/tests/test_policies.py
  activitypub/tests/test_projections.py
  activitypub/tests/test_resolvers.py
  activitypub/tests/test_tasks.py
  activitypub/tests/test_views.py
  activitypub/views/linked_data.py
  pytest.ini
Due: run_tests

Add factory for FollowRequest + outbox collection for actors
  activitypub/factories.py
Due: run_tests

fix context definition and projection for sharedInbox
  activitypub/contexts.py
  activitypub/models/as2.py
  activitypub/projections/base.py
Due: run_tests

Improvement on admin page for domains
  activitypub/admin/admins.py
Due: none

Reference URIs that do not resolve to JSON-LD need to fail
  activitypub/resolvers.py
Due: run_tests

collection page must always be part of a collection
  activitypub/migrations/0001_initial.py
Due: none

fix test for rendered document
  activitypub/tests/test_views.py
Due: none

Fix notification authentication
  activitypub/models/integrity_proofs.py
  activitypub/models/sec.py
Due: none

fix presentation of collection items and notification filters
  activitypub/admin/admins.py
  activitypub/admin/filters.py
Due: none

Remove Account Model and use ActorAccount for authentication
  activitypub/admin/actions.py
  activitypub/admin/admins.py
  activitypub/admin/base.py
  activitypub/admin/filters.py
  activitypub/authentication_backends.py
  activitypub/factories.py
  activitypub/migrations/0001_initial.py
  activitypub/models/__init__.py
  activitypub/models/accounts.py
  activitypub/models/ap.py
  activitypub/models/as2.py
  activitypub/models/collections.py
  activitypub/models/linked_data.py
  activitypub/projections/base.py
  activitypub/resolvers.py
  activitypub/signals.py
  activitypub/tasks.py
  activitypub/tests/models/test_as2.py
  activitypub/tests/test_policies.py
  activitypub/tests/test_projections.py
  activitypub/tests/test_tasks.py
  activitypub/tests/test_views.py
  activitypub/views/discovery.py
  docs/pages/howtos/federate_existing_content.md
  docs/pages/howtos/handle_incoming_activities.md
  docs/pages/howtos/index.md
  docs/pages/howtos/register_account.md
  docs/pages/howtos/register_domain.md
  docs/pages/howtos/send_activities.md
  docs/pages/tutorials/integration_with_existing_project.md
  docs/pages/tutorials/standalone.md
  mkdocs.yml
Due: build_site, pages, run_tests

add django command to register local domains
  activitypub/management/commands/register_local_instance.py
  docs/pages/tutorials/getting_started.md
Due: build_site, pages

Remove reference to Account model
  docs/pages/references/models.md
Due: build_site, pages

Fix: add checks on documents load to avoid loading untrusted data
  activitypub/models/linked_data.py
  activitypub/views/activitystreams.py
Due: none

Make deterministic skolemized references for blank nodes
  activitypub/factories.py
  activitypub/models/linked_data.py
  pyproject.toml
  uv.lock
Due: run_tests

Update Lemmy context
  activitypub/contexts.py
Due: run_tests

Clean up discovery views
  activitypub/tests/urls.py
  activitypub/views/activitystreams.py
  activitypub/views/discovery.py
  project/urls.py
Due: none

Improving logic around reference resolution management
  activitypub/admin/admins.py
  activitypub/admin/filters.py
  activitypub/handlers.py
  activitypub/migrations/0001_initial.py
  activitypub/models/accounts.py
  activitypub/models/linked_data.py
  activitypub/settings.py
Due: run_tests

Adopt Identity instead of 'UserAccount' + middleware for actors
  activitypub/admin/admins.py
  activitypub/authentication_backends.py
  activitypub/decorators.py
  activitypub/factories.py
  activitypub/middleware.py
  activitypub/migrations/0001_initial.py
  activitypub/models/accounts.py
  activitypub/models/as2.py
  activitypub/models/auth.py
  activitypub/tests/test_projections.py
  activitypub/tests/test_tasks.py
  activitypub/tests/test_views.py
  activitypub/views/activitystreams.py
  activitypub/views/discovery.py
  pyproject.toml
Due: run_tests

remote AP servers should be read-only in the admin
  activitypub/admin/admins.py
Due: none

Fix admin presentation for actors
  activitypub/admin/admins.py
Due: none

Adding oauth application/tokens with support for identity
  activitypub/admin/admins.py
  activitypub/apps.py
  activitypub/contexts.py
  activitypub/forms.py
  activitypub/migrations/0001_initial.py
  activitypub/models/__init__.py
  activitypub/models/accounts.py
  activitypub/models/ap.py
  activitypub/models/collections.py
  activitypub/models/oauth.py
  activitypub/settings.py
  activitypub/templates/activitypub/oauth/authorize_identity.html
  activitypub/templates/activitypub/oauth/identity_management.html
  activitypub/templates/activitypub/oauth/no_identities.html
  activitypub/tests/settings.py
  activitypub/tests/test_oauth.py
  activitypub/views/__init__.py
  activitypub/views/activitystreams.py
  activitypub/views/oauth.py
  pyproject.toml
  uv.lock
Due: run_tests

work on admin for notification
  activitypub/admin/admins.py
  activitypub/admin/filters.py
Due: none

Fix OAuth
  activitypub/tests/test_oauth.py
  activitypub/views/oauth.py
Due: none

clean up handler that marks lemmy activities as unresolvelable documents
  activitypub/handlers.py
Due: run_tests

check inbox by reference directly (not by the uri)
  activitypub/views/activitystreams.py
Due: none

add ActivityPub publishing module and improve projection classes
  CHANGELOG.md
  activitypub/admin/admins.py
  activitypub/apps.py
  activitypub/authentication_backends.py
  activitypub/contexts.py
  activitypub/decorators.py
  activitypub/exceptions.py
  activitypub/factories.py
  activitypub/forms.py
  activitypub/handlers.py
  activitypub/migrations/0001_initial.py
  activitypub/models/ap.py
  activitypub/models/as2.py
  activitypub/models/collections.py
  activitypub/models/languages.py
  activitypub/models/oauth.py
  activitypub/processors.py
  activitypub/projections/__init__.py
  activitypub/projections/base.py
  activitypub/projections/core.py
  activitypub/publishers.py
  activitypub/resolvers.py
  activitypub/settings.py
  activitypub/tasks.py
  activitypub/templates/activitypub/oauth/authorize_identity.html
  activitypub/tests/settings.py
  activitypub/tests/test_oauth.py
  activitypub/tests/test_policies.py
  activitypub/tests/test_projections.py
  activitypub/tests/test_views.py
  activitypub/views/activitystreams.py
  activitypub/views/linked_data.py
  activitypub/views/oauth.py
Due: run_tests

Do not fetch nodeinfo as soon as the domain is created
  activitypub/handlers.py
Due: run_tests

Fix process_incoming_Notification
  activitypub/tasks.py
Due: run_tests

Add 'redirects_to' to Reference model
  activitypub/migrations/0001_initial.py
  activitypub/models/as2.py
  activitypub/models/linked_data.py
  activitypub/resolvers.py
Due: run_tests

Add name field for search of objects on admin
  activitypub/admin/actions.py
  activitypub/admin/admins.py
Due: none

Use proper authentication to protect the actor outbox
  activitypub/permissions.py
  activitypub/tests/test_views.py
  activitypub/views/activitystreams.py
  docs/pages/tutorials/standalone.md
Due: build_site, pages, run_tests

actor collections are not exclusive.
  activitypub/migrations/0001_initial.py
  activitypub/models/as2.py
Due: none

Removed exception bad error handling
  activitypub/publishers.py
Due: run_tests

update CI
  .gitlab-ci.yml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

update documentation
  docs/pages/references/document_processors.md
  docs/pages/topics/authentication_authorization.md
  docs/pages/tutorials/standalone.md
Due: build_site, pages

Preparing release
  .gitlab-ci.yml
  activitypub/adapters/lemmy/factories.py
  activitypub/adapters/lemmy/filters.py
  activitypub/adapters/lemmy/handlers.py
  activitypub/adapters/lemmy/management/commands/resolve_actor.py
  activitypub/adapters/lemmy/models/accounts.py
  activitypub/adapters/lemmy/models/core.py
  activitypub/adapters/lemmy/permissions.py
  activitypub/adapters/lemmy/projections.py
  activitypub/adapters/lemmy/serializers.py
  activitypub/adapters/lemmy/tasks.py
  activitypub/adapters/lemmy/views/v3.py
  activitypub/extras/oauth/views.py
  docs/pages/references/models.md
  pyproject.toml
  pytest.ini
  tests/__init__.py
  tests/core/models/test_linked_data.py
  tests/core/test_projections.py
  tests/lemmy/test_documents.py
  tests/lemmy/test_filters.py
  tests/lemmy/test_serializers.py
  tests/lemmy/test_views.py
  tests/oauth/test_oauth_views.py
  uv.lock
Due: build_site, pages, run_tests

fix command to publish package
  .gitlab-ci.yml
Due: none

Implement validation framework for JSON-LD processing
  CHANGELOG.md
  activitypub/adapters/lemmy/models/core.py
  activitypub/core/models/as2.py
  activitypub/core/models/languages.py
  activitypub/core/models/linked_data.py
  activitypub/core/models/schemadotorg.py
  activitypub/core/models/sec.py
  activitypub/core/signals.py
  activitypub/core/tasks.py
  activitypub/core/views/activitystreams.py
  docs/pages/topics/jsonld_to_django.md
  docs/pages/topics/reference_context_architecture.md
  docs/pages/tutorials/creating_custom_context_models.md
  tests/core/base.py
  tests/core/fixtures/documents/invalid/actor_mismatch.json
  tests/core/fixtures/documents/invalid/create_without_authority.json
  tests/core/fixtures/documents/invalid/delete_others_object.json
  tests/core/fixtures/documents/invalid/impersonate_attributedto.json
  tests/core/fixtures/documents/invalid/overwrite_existing_reference.json
  tests/core/fixtures/documents/invalid/update_others_object.json
  tests/core/models/test_as2.py
  tests/core/test_inbox.py
  tests/core/test_object_views.py
  tests/core/test_outbox.py
  tests/core/test_views.py
Due: build_site, pages
