Repository mushroomlabs/django-activitypub-toolkit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_site, pages, run_tests

build_site:
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  stage: docs
  script:
  - uv sync --extra docs
  - uv run mkdocs build
  artifacts:
    paths:
    - site

pages:
  stage: docs
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  needs:
  - build_site
  script:
  - mv site public
  artifacts:
    paths:
    - public
  allow_failure: true

run_tests:
  stage: test
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  script:
  - uv sync --extra dev
  - uv run pytest

Documentation updates
  docs/pages/howtos/handle_incoming_activities.md
  docs/pages/howtos/send_activities.md
  docs/pages/tutorials/handling_incoming_activities.md
  docs/pages/tutorials/publishing_to_fediverse.md
Due: build_site, pages

update tutorial for integrating existing project
  docs/pages/tutorials/integration_with_existing_project.md
Due: build_site, pages

Add support for as:source property
  activitypub/migrations/0001_initial.py
  activitypub/models/as2.py
  activitypub/models/linked_data.py
  activitypub/tests/test_views.py
Due: none

Add support for lemmy schema
  activitypub/schemas.py
  activitypub/tests/fixtures/documents/lemmy/actor.json
  activitypub/tests/fixtures/documents/nodeinfo/lemmy.json
  activitypub/tests/test_models.py
Due: run_tests

clean up workflows
  .gitlab-ci.yml
Due: none

Fix for missing subpackages
  pyproject.toml
Due: run_tests

fix SecV1Context.generate_keypair
  activitypub/models/secv1.py
  uv.lock
Due: run_tests

Add serializer fields for adapting data from context models
  activitypub/exceptions.py
  activitypub/factories.py
  activitypub/models/linked_data.py
  activitypub/serializers/__init__.py
  activitypub/serializers/fields.py
  activitypub/tests/test_views.py
Due: run_tests

Update README
  README.md
Due: none

update documentation
  docs/pages/topics/reference_context_architecture.md
  docs/pages/tutorials/creating_custom_context_models.md
  docs/pages/tutorials/getting_started.md
Due: build_site, pages

version bump
  pyproject.toml
Due: run_tests

updated uv.lock
  uv.lock
Due: run_tests

add fixture document for piefed (not being tested yet)
  activitypub/tests/fixtures/documents/piefed/community.json
Due: none

Add moddel for language, with an enum with the top 25 languages
  activitypub/admin/admins.py
  activitypub/migrations/0001_initial.py
  activitypub/models/__init__.py
  activitypub/models/languages.py
  activitypub/tests/test_models.py
Due: none

Make configurable path for test fixtures
  activitypub/tests/base.py
Due: none

remove contextfield and contextserializermixin
  activitypub/serializers/__init__.py
  activitypub/serializers/base.py
  activitypub/serializers/fields.py
Due: none

prepare release for 0.1.3
  pyproject.toml
Due: run_tests

Implement ReferenceField for federation-first relationships
  CHANGELOG.md
  activitypub/migrations/0001_initial.py
  activitypub/models/__init__.py
  activitypub/models/fields.py
  activitypub/models/linked_data.py
  activitypub/tests/test_models.py
  activitypub/tests/test_serializers.py
  docs/pages/howtos/index.md
  docs/pages/howtos/reference_based_relationships.md
  docs/pages/references/models.md
  docs/pages/topics/reference_context_architecture.md
  pyproject.toml
  uv.lock
Due: build_site, pages, run_tests

check if related context needs to be saved
  activitypub/models/fields.py
Due: none

add as:source to actor model
  activitypub/models/as2.py
Due: none

Change Language to a proper Context model
  activitypub/migrations/0001_initial.py
  activitypub/models/languages.py
  activitypub/tests/test_models.py
Due: none

Use a cache of instances of ContextProxy
  activitypub/models/fields.py
Due: none

update secv1 admin
  activitypub/admin/admins.py
Due: none

Add admin entry for ActivityPub Servers
  activitypub/admin/admins.py
Due: none

Prepare 0.1.5 release
  CHANGELOG.md
  pyproject.toml
Due: run_tests

Changed implementation of ReferenceField
  activitypub/factories.py
  activitypub/handlers.py
  activitypub/models/as2.py
  activitypub/models/fields.py
  activitypub/models/languages.py
  activitypub/models/lookups.py
  activitypub/signals.py
  activitypub/tests/models/test_as2.py
  activitypub/tests/models/test_linked_data.py
  activitypub/tests/models/test_reference_fields.py
  uv.lock
Due: run_tests

add command to resolve reference
  activitypub/management/commands/resolve_reference.py
Due: none

Refactor models and admin interfaces, add webfinger lookup task
  CHANGELOG.md
  activitypub/admin/admins.py
  activitypub/apps.py
  activitypub/contexts.py
  activitypub/models/as2.py
  activitypub/models/fields.py
  activitypub/models/languages.py
  activitypub/models/linked_data.py
  activitypub/models/sec.py
  activitypub/resolvers.py
  activitypub/signals.py
  activitypub/tasks.py
  activitypub/tests/models/test_reference_fields.py
Due: run_tests

Fix display and actions for notification objects
  activitypub/admin/actions.py
  activitypub/admin/admins.py
Due: none

References can not be resolved if the requests leads to a redirect
  activitypub/exceptions.py
  activitypub/models/linked_data.py
  activitypub/resolvers.py
Due: run_tests

Use browsable renderer compatible with LinkedDataSerializer
  activitypub/renderers.py
  activitypub/views/linked_data.py
Due: run_tests

fix notification sending task
  activitypub/tasks.py
Due: run_tests

Add projection system for JSON-LD presentation control
  CHANGELOG.md
  activitypub/contexts.py
  activitypub/management/commands/resolve_reference.py
  activitypub/migrations/0001_initial.py
  activitypub/models/as2.py
  activitypub/projections/__init__.py
  activitypub/projections/base.py
  activitypub/projections/core.py
  activitypub/serializers.py
  activitypub/serializers/__init__.py
  activitypub/serializers/as2.py
  activitypub/serializers/base.py
  activitypub/serializers/fields.py
  activitypub/serializers/linked_data.py
  activitypub/settings.py
  activitypub/tasks.py
  activitypub/tests/test_projections.py
  activitypub/tests/test_serializers.py
  activitypub/tests/test_views.py
  activitypub/views/activitystreams.py
  activitypub/views/linked_data.py
  docs/pages/howtos/handle_incoming_activities.md
  docs/pages/howtos/send_activities.md
  docs/pages/references/index.md
  docs/pages/references/projections.md
  docs/pages/references/serializers.md
  docs/pages/topics/authentication_authorization.md
  docs/pages/topics/jsonld_to_django.md
  docs/pages/topics/projections.md
  docs/pages/tutorials/creating_custom_context_models.md
  docs/pages/tutorials/getting_started.md
  docs/pages/tutorials/handling_incoming_activities.md
  docs/pages/tutorials/publishing_to_fediverse.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: build_site, pages, run_tests

Add ContextModelAdmin
  activitypub/admin/__init__.py
  activitypub/admin/admins.py
  activitypub/admin/base.py
Due: none

Add configurable policy handlers for follow requests
  activitypub/exceptions.py
  activitypub/handlers.py
  activitypub/models/ap.py
  activitypub/settings.py
  activitypub/tests/test_policies.py
  activitypub/tests/test_views.py
Due: run_tests

FollowRequest only deals with Reference objects
  activitypub/handlers.py
  activitypub/migrations/0001_initial.py
  activitypub/models/ap.py
  activitypub/signals.py
  activitypub/tests/test_policies.py
  activitypub/tests/test_views.py
Due: run_tests

Add views for nodeinfo 2.1
  activitypub/tests/urls.py
  activitypub/views/discovery.py
  project/urls.py
Due: none

Handle cases of refrence resolver where doc id does not match uri
  activitypub/exceptions.py
  activitypub/models/linked_data.py
  activitypub/resolvers.py
Due: run_tests

Add source context model to hold source data
  activitypub/admin/admins.py
  activitypub/migrations/0001_initial.py
  activitypub/models/ap.py
  activitypub/models/as2.py
  activitypub/settings.py
  activitypub/tests/test_views.py
Due: run_tests

Path conditions:
  build_site: any of: docs/**/*, mkdocs.yml
  pages: any of: docs/**/*, mkdocs.yml
  run_tests: any of: activitypub/*, pyproject.toml, uv.lock
