Repository mushroomlabs/django-activitypub-toolkit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_site, pages, test

build_site:
  image: python:3.12
  before_script:
  - pip install poetry
  - poetry install --only docs
  stage: build_docs
  script:
  - poetry run mkdocs build
  artifacts:
    paths:
    - site

pages:
  stage: publish_docs
  image: python:3.12
  script:
  - mv site public
  artifacts:
    paths:
    - public
  needs:
  - build_site
  allow_failure: true

test:
  stage: test
  image: python:3.12
  services:
  - postgres:latest
  variables:
    POSTGRES_DB: activitypub_toolkit
    POSTGRES_USER: activitypub_toolkit
    POSTGRES_PASSWORD: $ACTIVITYPUB_TOOLKIT_DATABASE_PASSWORD
  script:
  - export
  - pip install poetry
  - poetry install
  - poetry run pytest

Start adding support in configuration for docstring-based docs
  activitypub/models.py
  docs/pages/references/index.md
  docs/pages/references/models.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: build_site, pages, test

Fix some internal links
  docs/pages/topics/models/activitypub.md
  docs/pages/topics/models/domains.md
Due: none

Making package usable in editable mode
  activitypub/__init__.py
  project/wsgi.py
  pyproject.toml
Due: test

Add tutorial page for getting started
  docs/pages/tutorials/getting_started.md
Due: none

Add support for linting with ruff.
  activitypub/models.py
  pyproject.toml
Due: test

Documentation lint
  docs/pages/tutorials/getting_started.md
Due: none

Fix rule for trigger docs build
  .gitlab-ci.yml
Due: none

Documentation
  docs/pages/tutorials/getting_started.md
Due: none

Add shares/likes collections, remove sqlite dependency
  .gitlab-ci.yml
  activitypub/migrations/0001_initial.py
  activitypub/models.py
  activitypub/tests/runtests.py
  activitypub/tests/urls.py
  project/__init__.py
  project/celery.py
  project/settings.py
  project/wsgi.py
  pytest.ini
Due: test

Add shares/likes collections, remove postgresql dependency
  .gitlab-ci.yml
  activitypub/migrations/0001_initial.py
  activitypub/models.py
  activitypub/tests/runtests.py
  activitypub/tests/urls.py
  docker-compose.yml
  poetry.lock
  project/__init__.py
  project/celery.py
  project/settings.py
  project/wsgi.py
  pyproject.toml
  pytest.ini
Due: test

use delay instead of delay_on_commit for task processing
  activitypub/handlers.py
  activitypub/tests/test_views.py
Due: test

upgrade django version
  poetry.lock
  pyproject.toml
Due: test

Add shares/likes collections, remove postgresql dependency
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: test

Add shares/likes collections, remove postgresql dependency
  .gitlab-ci.yml
  activitypub/handlers.py
  activitypub/migrations/0001_initial.py
  activitypub/models.py
  activitypub/tests/runtests.py
  activitypub/tests/test_views.py
  activitypub/tests/urls.py
  docker-compose.yml
  poetry.lock
  project/__init__.py
  project/celery.py
  project/settings.py
  project/wsgi.py
  pyproject.toml
  pytest.ini
Due: test

Add CollectionPage model
  activitypub/admin/admins.py
  activitypub/handlers.py
  activitypub/migrations/0001_initial.py
  activitypub/models.py
  activitypub/tests/fixtures/documents/mastodon/outbox.json
  activitypub/tests/fixtures/documents/takahe/featured_collection.json
  activitypub/tests/runtests.py
  activitypub/tests/settings.py
  activitypub/tests/test_models.py
  docs/pages/topics/models/activitypub.md
  poetry.lock
  project/__init__.py
  project/celery.py
  project/settings.py
  project/urls.py
  project/wsgi.py
  pyproject.toml
Due: test

remove special casing for representation of collections and collection pages
  activitypub/pagination.py
  activitypub/settings.py
  activitypub/views/activitystreams.py
Due: test

small improvements and fixes:
  activitypub/exceptions.py
  activitypub/message_processors.py
  activitypub/migrations/0001_initial.py
  activitypub/models.py
  activitypub/settings.py
  activitypub/views/activitystreams.py
  activitypub/views/discovery.py
Due: test

Add Follow requests and proper handling of follow approval
  activitypub/admin/admins.py
  activitypub/handlers.py
  activitypub/migrations/0001_initial.py
  activitypub/models.py
  activitypub/settings.py
  activitypub/tasks.py
Due: test

Fixes and improvements for more ActivityAPI compliance and testing
  activitypub/handlers.py
  activitypub/migrations/0001_initial.py
  activitypub/models.py
  activitypub/settings.py
  activitypub/tests/base.py
  activitypub/tests/fixtures/documents/nodeinfo/mastodon.json
  activitypub/tests/fixtures/documents/nodeinfo/nodebb.json
  activitypub/tests/fixtures/documents/nodeinfo/testserver.json
  activitypub/tests/runtests.py
  activitypub/tests/settings.py
  activitypub/tests/test_models.py
  activitypub/tests/test_tasks.py
  activitypub/tests/test_views.py
  activitypub/views/activitystreams.py
  pyproject.toml
Due: test

Remove Admin of BaseObject. Add Admin for Collection item
  activitypub/admin/admins.py
Due: none

create replies/shares/likes collection for every local object
  activitypub/handlers.py
Due: test

Add CollectionMixin.remove(item) method
  activitypub/models.py
Due: test

Back with URI fragment to represent keys
  activitypub/models.py
Due: test

Improve deserialization of tags as sent by Mastodon
  activitypub/models.py
  activitypub/tests/fixtures/documents/mastodon/actor.json
  activitypub/tests/test_models.py
Due: test

Handle objects that have inReplyTo set
  activitypub/handlers.py
  activitypub/tests/test_models.py
Due: test

improve rendering of as:url field
  activitypub/models.py
Due: test

Add items to shares/likes collections even for non-remote actors
  activitypub/models.py
  activitypub/tests/test_models.py
Due: test

Add fixture file for testing peertube integration
  activitypub/tests/fixtures/documents/peertube/video.json
Due: none

Getting the app to be installable even in editable mode
  activitypub/__init__.py
  activitypub/apps.py
  activitypub/handlers.py
Due: test

Update CI for building documentation site and pypi release
  .gitlab-ci.yml
  pyproject.toml
Due: test

Update uv.lock + allow manual build of docs site
  .gitlab-ci.yml
  uv.lock
Due: none

Use images with uv preinstalled
  .gitlab-ci.yml
Due: none

removed unused poetry.lock
  poetry.lock
Due: test

update dependencies
  pyproject.toml
Due: test

Add celery app to tests
  activitypub/tests/__init__.py
  activitypub/tests/conftest.py
  pytest.ini
  uv.lock
Due: none

clean up Gitlab CI pipelines
  .gitlab-ci.yml
Due: none

Path conditions:
  build_site: any of: docs/*, mkdocs.yml
  pages: any of: docs/*, mkdocs.yml
  test: any of: activitypub/*, pyproject.toml, poetry.lock
